<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Bloc Hacks18!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<div *ngIf="selectedFile">
	<img [src]="url" class="rounded mb-3" width="350" alt="">
</div>
<div>
  <input type="file" accept="image/*, .pdf"
  (change)="onFileChanged($event)" #imageInput>
  <button (click)="imageInput.click()">Select File</button>
  <div *ngIf="selectedFile">File name: {{ fileName }}, size: {{ fileSize }}</div>
  <br>
  <button id="uploadButton" name="uploadButton" (click)="onUpload()">Upload!</button>
</div>
<router-outlet></router-outlet>
