<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#main">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#main">Main</a></li>
        <li><a href="#budgetform">Form</a></li>
        <li><a href="#result">Result</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div id="main" class="container-fluid bg-1 text-center">
  <br><br><br><br>
  <h3 class="margin">Easy Budget</h3>
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>Let's a give a try!</h3>
</div>

<!-- Second Container -->
<div id="budgetform" class="container-fluid bg-2 text-center">
  <div class="container">
    <h1>Budget Form</h1>
    <form>
        <div class="form-group">
            <label for="city">City</label>
            <select class="form-control" id="cityField" required [(ngModel)]="cityElem" name="cityElem">
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>
        </div>
        <div class="form-group">
        <label for="adult">Number of Adult (18+)</label>
        <input [(ngModel)]="adult" name="adult" type="number" class="form-control" id="adultField" 
            required #adultForm="ngModel" default=0 />
        </div>
        <div class="form-group">
            <label for="children">Number of Children</label>
            <input [(ngModel)]="children" name="children" type="number" class="form-control" id="childrenField" 
                required #childrenForm="ngModel" />
        </div>
        <div class="form-group">
                <label for="student">Number of Student</label>
                <input [(ngModel)]="student" name="student" type="number" class="form-control" id="studentField" 
                    required #studentForm="ngModel" />
        </div>
        <div class="form-group">
            <label for="transportation">Transportation </label>
            <select class="form-control" id="transportationField" required [(ngModel)]="transElem" name="transElem">
                <option *ngFor="let transportation of transportations" [value]="transportation">{{ transportation }}</option>
            </select>
        </div>
        <button class="btn btn-success" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>

<!-- Third Container (Grid) -->
<div [hidden]="!onSubmitted" id="result" class="container-fluid bg-3 text-center">    
  <h3 class="margin">Result</h3><br>
  <table class="table">

       <tr>
         <th colspan="2">Results</th>
       </tr>

         <tr>
           <th scope="row" class="tableleft">Transportation</th>
           <td class="tablecenter">Mark</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Public Transportation</th>
           <td class="tablecenter">Jacob</td>
         </tr>
         <tr>
           <th scope="row" class="tableleft">Car</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Lease</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Gas Consumption</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Parking</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Insurance</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Registration</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Maintnance</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Tires</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableleft">Housing</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Apartment Rent</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Utilities</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Internet</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableleft">Living Expenses</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Groceries</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Eating Out</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Entertainment</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Clothing</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Personal Care</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableleft">Education</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Day Care</th>
           <td class="tablecenter">Larry</td>
         </tr>
         <tr>
           <th scope="row" class="tableright">Tuition</th>
           <td class="tablecenter">Larry</td>
         </tr>
  </table>
  <button class="btn btn-success" (click)="reset()">Reset</button>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Data Innovation Society of Concordia</p> 
</footer>
